*{
    box-sizing: border-box;
}
h1{
    font-family: sans-serif;
    text-align: center;
}
h2{
    font-style: italic;
    margin: 10px 40px;
}
p{
    font-size: 20px;
    font-weight: bold;
}
div{
    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 100px;
    margin: 20px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.red{
    background-color: rgb(250, 0, 0);
}
.green{
    background-color: rgb(0, 255, 0);
}
.blue{
    background-color: rgb(0, 0, 255);
}
.purple{
    background-color: rgb(255, 0, 255);
}
.cian{
    background-color: rgb(0, 255, 255);
}
.yellow{
    background-color: rgb(255, 255, 0)
}
.contenedor{
    width: 500px;
    margin: 0px auto;
    background-color: initial;
    position: relative;
    height: initial;
    margin: 0px auto;

}